<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CRUD com Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>CRUD com Flask</h1>
    </header>
    <div class="container">
        <h2>Lista de Itens</h2>
        <ul>
            {% for item in items %}
                <li>
                    <div>
                        <strong>{{ item.nome }}</strong> - {{ item.descricao }}
                    </div>
                    <div class="item-actions">
                        <a href="{{ url_for('update', id=item.id) }}">Editar</a>
                        <a href="{{ url_for('delete', id=item.id) }}" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <h2>Adicionar Novo Item</h2>
        <form method="POST" action="{{ url_for('create') }}">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" id="descricao" required>
            <input type="submit" value="Adicionar">
        </form>
    </div>
</body>
</html>
